.contacts{
  background: url("/img/map.jpg") no-repeat center;
  background-size: cover;
  padding-top: 80px;
}
.contacts_content{
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacts_content_pos{
  display: flex;
}

.contacts_content_tel{
  color: #4e4e4e;
  font-size: 26px;
  text-transform: uppercase;
  //text-shadow: 1px 1px 2px rgb(185, 185, 177);
  margin-bottom: 5px;
  padding-bottom: 10px;
  text-decoration: none;
  text-shadow: none;
  transition: text-shadow 0.5s;
}
.contacts_content_tel:hover{
  text-shadow: 1px 1px 4px rgba(185, 185, 177, 0.8);
  transition: text-shadow 0.5s;
}
.contacts_content_text{
  color: #4e4e4e;
  font-size: 16px;
}
.contacts_time{
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: flex-end;*/
}
.contacts_time_pos{
  padding-bottom: 10px;
}
.contacts__button{
  margin-top: 20px;
  width: 300px;
  border: none;
  cursor: pointer;
  background: rgba(185, 185, 177, 0.6);
  transition: background 0.5s;
}
.contacts__button_text{
  color: #4e4e4e;
  font-size: 20px;
  padding: 10px;
}
.contacts__button:hover{
  transition: background 0.5s;
  background: #4e4e4e;
  color: #fafbf6;
}
.footer-centre-input_block{
}
.footer-centre-input_title{
  font-size: 12px;
  line-height: 16px;
  color: #4e4e4e;
  margin-bottom: 8px;
}
.footer-centre-input{
  margin-bottom: 8px;
  background: none;
  width: 300px;
  padding: 14px 20px;
  font-size: 16px;
  line-height: 19px;
  border: #4e4e4e 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
}
.footer{
  background: rgba(185, 185, 177, 0.8);
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}
.footer_block{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer__text{
  color: #4e4e4e;
  font-size: 14px;
}
.footer__svg{
  fill: #4e4e4e;
  padding-right: 5px;
}
.footer__lang{
  display: flex;
  flex-direction: row;
}
.footer__lang__link{
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
.footer__lang__line{
  width: 1px;
  height: 14px;
  background-color: #4e4e4e;
}
.footer__lang__link__action{
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: 320px) {
  .footer_block{
    flex-direction: column;
  }
  .footer__text{
    margin-bottom: 6px;
  }
  .contacts_content_icon{
    width: 28px;
    height: 28px;
    margin-right: 4px;
  }
  .contacts_content_pos {
    flex-direction: column;
  }
  .contacts_content{
    flex-direction: column;
  }
  .contacts_content_icons{
    display: none;
  }
  .contacts_time{
    padding-bottom: 20px;
  }
  }
@media (min-width: 610px) {
}
@media (min-width: 710px) {
  .contacts_time{
    padding-left: 20px;
    padding-bottom: 0;
  }
  .contacts_content_pos {
    flex-direction: row;
    align-items: center;
  }
  .contacts_content{
    flex-direction: row;
  }
  .contacts_content_icons{
    display: block;
  }

}
@media (min-width: 768px) {
  .footer_block{
    flex-direction: row;
  }
  .footer__text{
    margin-bottom: 0px;
  }

}
@media (min-width: 810px) {

}
@media (min-width: 910px) {
  .contacts_content_icon{
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }

}
@media (min-width: 992px) {

}
@media (min-width: 1010px) {

}
@media (min-width: 1110px) {
}
@media (min-width: 1210px) {
}
@media (min-width: 1810px) {
}