.head__nav__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav__block{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header__tel__block{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
}
.header__tel__svg{
  filter: none;
  transition: filter 0.5s;
}
.header__tel__block:hover{
  transform: scale(1.05);
  transition: transform 0.5s;
}
.header__tel__block:hover .header__tel__svg{
  filter: drop-shadow(1px 1px 4px #fafbf6);
  transition: filter 0.5s;
}
.header__tel__text{
  color: #4e4e4e;
  text-decoration: none;
  padding-left: 5px;
  text-shadow: none;
  transition: text-shadow 0.5s;
}
.header__tel__block:hover .header__tel__text{
  text-shadow: 1px 1px 4px #fafbf6;
  transition: text-shadow 0.5s;
}
.header__nav__link{
  color: #4e4e4e;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  /*text-shadow: 1px 1px 3px #fafbf6;*/
  transition: transform 0.5s, text-shadow 0.5s;

}
.header__nav__link:hover{
  text-shadow: 1px 1px 4px #fafbf6;
  transition: transform 0.5s, text-shadow 0.5s;
  transform: scale(1.05);
}
@media (min-width: 320px) {
  .head__nav__block {
    display: none;
  }
}
@media (min-width: 510px) {
}
@media (min-width: 610px) {
}
@media (min-width: 710px) {
}
@media (min-width: 768px) {
}
@media (min-width: 810px) {
}
@media (min-width: 910px) {
  .head__nav__block {
    display: flex;
  }
  .header__tel__text{
    font-size: 16px;
  }
  .header__nav__link {
    font-size: 16px;
  }
  }
@media (min-width: 992px) {
  .header__tel__text{
    font-size: 18px;
  }
  .header__nav__link {
    font-size: 18px;
  }
}
@media (min-width: 1010px) {
  .header__tel__text{
    font-size: 20px;
  }
  .header__nav__link {
    font-size: 20px;
  }
}
@media (min-width: 1110px) {
}
@media (min-width: 1210px) {
}
@media (min-width: 1810px) {
}
