.diya{
    display: flex;
    flex-direction: row;
    background: linear-gradient(45deg, #4e4e4e, #414345);
    /*background: #4e4e4e;*/
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    position: relative;
    overflow-x: hidden;
    text-decoration: none;
}
.diya .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 90px;
    opacity: 0.2;
    transform: skewX(-45deg);
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 5s infinite linear;

}
@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    50% {
        left: 150%;
    }
    100% {
        left: -150%;
    }
}
.diya_svg{
    width: 80px;
}
.diya_text{
    color: #fafbf6;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    transition: transform 0.5s ease 0.2s;
    text-decoration: none;
    text-align: center;
}
.diya_text_span{
    color: #fafbf6;
    font-weight: bold;
}
.diya:hover .diya_text{
     transform: scale(1.1);
     transition: transform 0.5s;
 }
.background-header {
    background: url("/img/standard11.jpg") no-repeat center;
    background-size: cover;
    padding-bottom: 150px;
}
.main__text{
    color: #4e4e4e;
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 250px;
}
.header__text{
    color: #4e4e4e;
    font-size: 20px;
    margin-top: 20px;
}
.header__button{
    margin-top: 20px;
    border: none;
    cursor: pointer;
    background: rgba(185, 185, 177, 0.6);
    transition: background 0.5s;

}
.header__button_text{
    color: #4e4e4e;
    font-size: 20px;
    padding: 10px;
}
.header__button:hover{
    transition: background 0.5s;
    background: #4e4e4e;
    color: #fafbf6;
}

.best{
    background-image: url("/img/back.png");
}

.diya_img_size{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}


.h1__title{
    color: #4e4e4e;
    text-align: center;
}
.background-price{
    background: url("/img/okno копия.jpg") no-repeat center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}
.price_content_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price_content{
    top: 20px;
    text-align: left;
    position: relative;
}
.price_content_color{
    background: rgba(185, 185, 177, 0.2);
}
.price_content_text{
    color: #4e4e4e;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.price_button{
    cursor: pointer;
    border: none;
    margin-top: 50px;
    transition: background 0.5s;
    background: rgba(185, 185, 177, 0.6);
    /*background: #fafbf6;*/
    color: #4e4e4e;
    width: 20%;

}
.price_button_text{
    padding: 10px;
    font-size: 20px;
    overflow:hidden;
}
.price_button:hover{
    transition: background 0.5s;
    background: #4e4e4e;
    color: #fafbf6;
}

.other{
    padding-top: 80px;
    padding-bottom: 80px;
}
.other_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

}
.other_img_ize{
    width: 30%;
}
.h2_other{
    color: #4e4e4e;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(185, 185, 177);
}
.text_other{
    color: #4e4e4e;
    text-align: justify;
}

.other_button{
    margin-top: 40px;
    border: none;
    cursor: pointer;
    transition-property: background;
    transition-duration: 0.8s;
    background: rgba(200, 198, 216, 0.3);
    box-shadow: 1px 1px 2px rgb(185, 185, 177);
    color: #4e4e4e;

}
.other__button_text{
    padding: 10px;
    font-size: 20px;
}
.other_button:hover{
    transition: background 0.5s;
    background: #4e4e4e;
    color: #fafbf6;
}


@media (min-width: 320px) {
    .h1__title{
        font-size: 26px;
    }
    .main__text{
        margin-top: 100px;
    }
    .text_other{
        font-size: 16px;
        line-height: 20px;
    }
    .text_other_pl{
        padding-left: 20px;
    }
    .text_other_pr{
        padding-right: 20px;
    }
    .price_content_text{
        font-size: 16px;
    }
    .price_button{
        width: 100%;
    }
}
@media (min-width: 410px) {
}
@media (min-width: 510px) {
    .price_button{
        width: 50%;

    }
}
@media (min-width: 610px) {
}
@media (min-width: 710px) {
    .h1__title{
        font-size: 30px;
    }
    .text_other{
        font-size: 20px;
        line-height: 30px;
    }
    .text_other_pl{
        padding-left: 40px;
    }
    .text_other_pr{
        padding-right: 40px;
    }
    .price_content_text{
        font-size: 20px;
    }
    .price_button{
        width: 20%;

    }
    .main__text{
        margin-top: 250px;
    }
}
@media (min-width: 768px) {
}
@media (min-width: 810px) {
}
@media (min-width: 910px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1010px) {
}
@media (min-width: 1110px) {
}
@media (min-width: 1210px) {
}
@media (min-width: 1810px) {
}

