.modal {
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modal-active{
  opacity: 1;
  pointer-events: all;
  overflow: hidden;
}
.modal__content {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05), 0px 4px 14px rgba(0, 0, 0, 0.15);
  background: #fafbf6;
  box-sizing: border-box;
  position: relative;
}
.close_icon{
  position: absolute;
  cursor: pointer;
  transition: transform 0.5s;

}
.close_icon:hover{
  transform: scale(1.8);
  transition: transform 0.5s;
}
.input-form {
  background: none;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #1A1A1D;
  margin-bottom: 15px;
  font-size: 18px;
  color: #4e4e4e;
  outline: none;
  padding: 14px;
}
.textarea-fixed {
  resize: none;
}
.input-form:focus {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #434343;
}
.input-form-title{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #4e4e4e;
  opacity: 0.5;
  margin-bottom: 6px;
}
.main_hidden {
  overflow: hidden;
}
.btn_modal {
  background: rgba(200, 198, 216, 0.3);
  transition: background 0.5s;
  box-shadow: 1px 1px 2px rgb(185, 185, 177);
  padding: 16px 20px;
  color:  #4e4e4e;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 60px;
}
.btn_modal:hover{
  transition: background 0.5s;
  background: #4e4e4e;
  color: #fafbf6;

}
.title_text_modal{
  color: #4e4e4e;
  font-size: 32px;
  line-height: 38px;
  overflow: hidden;
}
.modal_block_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 320px) {
  .modal__content {
    padding: 20px;
    width: 300px;
  }
  .close_icon {
      top: 24px;
      left: 246px;
    }
  .title_text_modal{
    margin-bottom: 30px;
  }
}
@media (min-width: 610px) {
  .modal__content {
    padding: 50px;
    width: 500px;
  }
  .title_text_modal{
    margin-bottom: 50px;
  }
}
@media (min-width: 710px) {
}
@media (min-width: 768px) {
  .modal__content {
    padding: 80px;
    width: 602px;
  }
  .close_icon{
    top: 24px;
    left: 546px;
  }
  .title_text_modal{
    margin-bottom: 60px;
  }
}
@media (min-width: 810px) {
}
@media (min-width: 910px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1010px) {
}
@media (min-width: 1110px) {
}
@media (min-width: 1210px) {
}
@media (min-width: 1810px) {
}

