.stick_menu-wrapper{
  background: #fafbf6;
  position: fixed;
  z-index: 10;
  top: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05), 0 4px 14px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;

  transform: translate(0px, -120%);
  opacity: 0;
  transition: all .8s ease 0s;
}
.stick_menu-wrapper._active-menu{
  transform: translate(0px, 0px);
  opacity: 0.9;
}
.stick_menu-main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.stick_menu-menu_navi{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.stick_menu-menu_navi-text_link{
  color: #4e4e4e;
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.5s, text-shadow 0.5s;
}
.stick_menu-menu_navi-text_link:hover{
  text-shadow: 1px 1px 4px #fafbf6;
  transition: transform 0.5s, text-shadow 0.5s;
  transform: scale(1.05);

}


.stick_menu-main-menu-mobile{
  //padding-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: rgba(200, 198, 216, 0.3) 2px solid;

}
.stick_menu-main-menu-mobile-line-block{
  width: 42px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.stick_menu-main-menu-mobile-line{
  background: #4e4e4e;
  height: 4px;
  width: 100%;
}

.header-burger_open{
  width: 100%;
  background: #fafbf6;
  padding-top: 20px;
  padding-bottom: 40px;
  position: fixed;
  z-index: 11;
  top: 0;

  transform: translate(0px, -120%);
  opacity: 0;
  transition: all .8s ease 0s;
}
.header-burger_open._active-burger-menu{
  transform: translate(0px, 0px);
  opacity: 1;
}

.header-burger_open_top{
  border-bottom: rgba(200, 198, 216, 0.3) 2px solid;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-burger_open_close-icon{
  position: relative;
}
.header-burger_open_top_line1{
  position: absolute;
  width: 42px;
  height: 4px;
  background: #4e4e4e;
  transform: rotate(45deg);
}
.header-burger_open_top_line2{
  width: 42px;
  height: 4px;
  background: #4e4e4e;
  transform: rotate(-45deg);
}
.header-burger_open-menu{
  border-bottom: rgba(200, 198, 216, 0.3) 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 100px;
}
.header-burger_open-menu-link{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #4e4e4e;
  padding-bottom: 20px;
  text-decoration: none;
}
.header-burger_open-icon-block{
  padding-top: 30px;
  text-align: center;
}
.header-burger_open-icon{
  margin-right: 32px;
}




@media (min-width: 320px) {
  .stick_menu-main-menu-big{
    display: none;
  }
  .stick_menu-main-menu-mobile{
    display: flex;
  }
  .stick_menu-menu_navi-tel_num_text{
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
  }
}
@media (min-width: 1010px) {
  .stick_menu-main-menu-big{
    display: flex;
    flex-direction: column;

  }
  .stick_menu-main-menu-mobile{
    display: none;
  }
}
@media (min-width: 1210px) {
}
@media (min-width: 1810px) {
}
